body{
     margin:0;
    background-color: rgb(1, 0, 5);
}
h1{
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(43, 101, 226)
}
.navbar{
    width: 100%;
    height:max-content;
    display: inline;
    background-color: rgb(62, 169, 231);
    display: inline-block;

}
.nav{
    display: inline;
    list-style:none;
    overflow: hidden;
}
.nav-item{
    display: inline;
    padding: 5px;
}
.justify-content-start{
    float: left;
}
.justify-content-end{
    float: right;
}
.btn{
    border-radius: 5px;
    border-color: coral;
    width: max-content;
    height: 30px;
}


.bar{
    color: forestgreen;
}

#sortingVisual{
display: inline;
}

#info{
    color:burlywood;
    display: inline;
    align-items: flex-end;
}
